<%= form_for(@state_drought_pre) do |f| %>
  <% if @state_drought_pre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@state_drought_pre.errors.count, "error") %> prohibited this state_drought_pre from being saved:</h2>

      <ul>
      <% @state_drought_pre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :climate_id_id %><br>
    <%= f.text_field :climate_id_id %>
  </div>
  <div class="field">
    <%= f.label :state_abbreviation_id %><br>
    <%= f.text_field :state_abbreviation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
