<p id="notice"><%= notice %></p>

<p>
  <strong>Climate:</strong>
  <%= @state_drought_pre.climate_id %>
</p>

<p>
  <strong>State abbreviation:</strong>
  <%= @state_drought_pre.state_abbreviation %>
</p>

<%= link_to 'Edit', edit_state_drought_pre_path(@state_drought_pre) %> |
<%= link_to 'Back', state_drought_pres_path %>
