<%= form_for(@drought_user) do |f| %>
  <% if @drought_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drought_user.errors.count, "error") %> prohibited this drought_user from being saved:</h2>

      <ul>
      <% @drought_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :droughts_id %><br>
    <%= f.text_field :droughts_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
