<p id="notice"><%= notice %></p>

<p>
  <strong>Climate:</strong>
  <%= @region.climate_id %>
</p>

<p>
  <strong>State abbreviation:</strong>
  <%= @region.state_abbreviation %>
</p>

<p>
  <strong>State:</strong>
  <%= @region.state %>
</p>

<p>
  <strong>Drought:</strong>
  <%= @region.drought %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
