<p id="notice"><%= notice %></p>

<p>
  <strong>Climate:</strong>
  <%= @precipitation.climate_id %>
</p>

<p>
  <strong>Inches per year:</strong>
  <%= @precipitation.inches_per_year %>
</p>

<p>
  <strong>Year:</strong>
  <%= @precipitation.year %>
</p>

<%= link_to 'Edit', edit_precipitation_path(@precipitation) %> |
<%= link_to 'Back', precipitations_path %>
