<%= link_to "PLAY AGAIN", root_path %>
<br>
<br>
<br>
<h3>Your Guesses Are:</h3>
<p><%= @start_word %></p>
<p><%= @step_1 %></p>
<p><%= @step_2 %></p>
<p><%= @step_3 %></p>
<p><%= @step_4 %></p>
<p><%= @step_5 %></p>
<p><%= @end_word  %></p>


