<div class="back_home">
 <%= link_to "Back To Home Page", root_path %><br>
<center>-or-<center>
 <%= link_to "Sign out", destroy_user_session_path, style: 'color:#8B0000;', method: :delete%>

</div>
<center><div class="header_sign_up">
<h1>Droughts</h1>
</div></center>
<center>
<div class="droughts_box">
<div class="notice">
<p id="notice"><%= notice %></p>
</div>
<div class="header">
<table><h3><font color="blue"><%= current_user.name %>'s</font> Drought Info Listing</h3></table></div>
<center><font color="red">Attention:</font> You have been given the priviledge to add and edit your own findings. Please ensure the authenticity of all data before inserting. Ask admin for admin priviledges. <br>
</center>
<%= link_to "Add New Drought Info", new_drought_path, {:style=>'color:#FF0000;', :class => "css_class"} %> |
<%= link_to "View Graph Based on Drought Severity by State", drought_path(1), {:style=>'color:#FF0000;', :class => "css_class"} %> |
<%= link_to "Go to Precipitation Page", precipitations_path, {:style=>'color:#FF0000;', :class => "css_class"}%>
<br><br>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 5px;
}
</style>

<div style="height:500px;overflow:auto;">
<table align="center" style="width:80%">
<thead>
    <tr>
      <th>State_Abbrev.</th>
      <th>Climate</th>
      <th>Drought_Severity<br>
          (based on <font color="blue"><a href="http://www.cpc.ncep.noaa.gov/products/monitoring_and_data/drought.shtml">PDSI</a></font>)</th>
      <th>Year</th>
      <th>Created By</th>
      <th>Creation Date</th>
      <th>Creation Time</th>
        <th  colspan="2">Options</th>
    </tr>
  </thead>

   <tbody>
      
      <% @droughts.each do |drought| %>
      <tr>
        <td><%= drought.state_abbreviation %></td>
	<td><%= drought.climate_id %></td>
        <td><%= drought.drought_severity %></td>
        <td><%= drought.year %></td>
        <% @users.each do |user| %>
        <% if user.id == drought.user_id %>
        <td><%= user.name %></td>
        <% end %>
        <% end %>
        <td><%= drought.created_at.strftime("Created on %m/%d/%Y") %></td>
        <td><%= drought.created_at.strftime("at %I:%M%p") %></td> 
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_drought_path(drought) %></td>
          <td><%= link_to 'Destroy', drought, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif current_user.id == drought.user_id %>
          <td><%= link_to 'Edit', edit_drought_path(drought) %></td>
          <td><%= link_to 'Destroy', drought, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
   </tbody>
</table>
</div>
</div>
<br>

