<%= form_for(@annual_burnt_acre) do |f| %>
  <% if @annual_burnt_acre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annual_burnt_acre.errors.count, "error") %> prohibited this annual_burnt_acre from being saved:</h2>

      <ul>
      <% @annual_burnt_acre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :acres_per_sq_miles %><br>
    <%= f.text_field :acres_per_sq_miles %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.text_field :state_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
