<p id="notice"><%= notice %></p>

<h1>Listing Annual Burnt Acres</h1>

<table>
  <thead>
    <tr>
      <th>Acres per sq miles</th>
      <th>Year</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annual_burnt_acres.each do |annual_burnt_acre| %>
      <tr>
        <td><%= annual_burnt_acre.acres_per_sq_miles %></td>
        <td><%= annual_burnt_acre.year %></td>
        <td><%= annual_burnt_acre.state %></td>
        <td><%= link_to 'Show', annual_burnt_acre %></td>
        <td><%= link_to 'Edit', edit_annual_burnt_acre_path(annual_burnt_acre) %></td>
        <td><%= link_to 'Destroy', annual_burnt_acre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annual burnt acre', new_annual_burnt_acre_path %>
