<p id="notice"><%= notice %></p>

<p>
  <strong>Acres per sq miles:</strong>
  <%= @annual_burnt_acre.acres_per_sq_miles %>
</p>

<p>
  <strong>Year:</strong>
  <%= @annual_burnt_acre.year %>
</p>

<p>
  <strong>State:</strong>
  <%= @annual_burnt_acre.state %>
</p>

<%= link_to 'Edit', edit_annual_burnt_acre_path(@annual_burnt_acre) %> |
<%= link_to 'Back', annual_burnt_acres_path %>
