<div class="back_home">
  <%= link_to "Back To Home Page", root_path %>
</div>

<center><div class="header_sign_up">
 <h1>Sign Up: You Won't Regret It!</h1>
</div></center>

<center>
<div id="sign_up_box">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <center>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, placeholder: "ENTER YOUR NAME HERE", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "ENTER YOUR EMAIL HERE",  autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "ENTER YOUR PASSWORD HERE (1 CHAR MIN)", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "ENTER PASSWORD HERE TO CONFIRM", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %><br>
    <font color="blue">-OR- </font><br>
    <%= link_to "Sign In", new_user_session_path %>
  </div></center>
<% end %>
</div>
