<!DOCTYPE html>
<div id="user_nav">
<% if user_signed_in? %>
Signed in as <font color="blue"><%= current_user.name %></font>. Not you?
<%= link_to "Sign out", destroy_user_session_path, method: :delete, :style => "color:red" %>
<% end %>
</div>

<%= stylesheet_link_tag "images.scss" %>

<html>
<head>
  <title>Img</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
