<%= form_for([@image,@image_user]) do |f| %>
  <% if @image_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_user.errors.count, "error") %> prohibited this image_user from being saved:</h2>

      <ul>
      <% @image_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.select :user_id, @image.user_does_not_have_permission %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

