<p id="notice"><%= notice %></p>

<p>
  <strong>Burnt acreage:</strong>
  <%= @wildfire.burnt_acreage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wildfire.year %>
</p>

<p>
  <strong>State:</strong>
  <%= @wildfire.state %>
</p>

<%= link_to 'Edit', edit_wildfire_path(@wildfire) %> |
<%= link_to 'Back', wildfires_path %>
