<!-- app/views/images#_form -->
<center><%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="box">
  <%= f.file_field :uploaded_file %>
  <div class="field">
    <%= f.number_field :user_id %>
  </div>
    <br>
    <br>
    Note: Please check only one box or else default will be private.
    <br>
    Mark image as  <strong><font color="blue">PUBLIC</font></strong>?
    <%= f.check_box :private, {checked: :private},"false", "true" %><br>
    Mark image as <strong><font color="red">PRIVATE</font></strong>?
    <%= f.check_box :private %>
  <br>
  <br>
  <center><div class="actions">
    <%= f.submit %>
  </div></center></div>
<% end %>

