<center><h1>Edit Image</h1>
<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="box">
  <% if @image.private? %>
    This image is currently marked as <strong><font color="red">PRIVATE</font>.
    </strong><br>
    Mark image as  <strong><font color="blue">PUBLIC</font></strong>?
    <%= f.check_box :private, {checked: :private},"false", "true" %>
  <% else %>
    This image is currently marked as <strong><font color="blue">PUBLIC</font></strong>.<br>
    Mark image as <strong><font color="red">PRIVATE</font></strong>?
    <%= f.check_box :private %>
  <% end %>
<p>
<!-- TAGS ARE HERE -->
<% if !@image.tags.empty? %>
<font color="blue"><b>TAGS:</b></font>
<% @image.tags.each do |tag| %>
  <% if @image.tags.last == tag %>
    <%= link_to (tag.str.strip), edit_tag_path(tag.id) %>.
  <% else %>
    <%= link_to (tag.str.strip), edit_tag_path(tag.id) %>,
  <% end %>
<% end %>
<% end %>
<p><font color="white">Note: click on tags to edit.</font>
</p>
</p>
 <center><div class="actions">
    <%= f.submit %>
  </div></center></div>
<% end %>


<%= link_to 'Back To Main', images_path %>

