<p id="notice"><%= notice %></p>
<!-- Check to see if user is logged in, if so let them upload and edit profile -->
<% if user_signed_in? == true %>
<%= link_to 'New Image', new_image_path %> |
<%= link_to 'Edit Profile', edit_user_registration_path %>
<% else %> <!-- If user not log in give them option to log in or sign up -->
<%= link_to 'Log In', new_user_session_path %> |
<%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
<br>
 
<% if user_signed_in? == true %>
<center><h1><%= current_user.name + "'s" + " Images" %></h1></center>
 <% @images.each do |image| %>
      <% if image.user_id == @user %>
         <div class="image">
	 <%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %></a>
 	 <span class="caption">
	 <center><%= image.filename %></center>
         <%= link_to 'Edit', edit_image_path(image) %>
         <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></span></div>
      <% else %>
         <% next %>
      <% end %>
   <% end %>
<% end %>
<br>

<% if user_signed_in? == true %>
<center><h1><%="Private Images " + current_user.name + " Can See" %></h1></center>
 <% @images.each do |image| %>    
     <% if image.user_id == @user %>
         <div class="image">
	 <%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
 	 <span class="caption">
	 <center><%= image.filename %></center>
         <% @users.each do |owner| %>
         <% if owner.id == image.user_id %> 
	   Owner is: <%= owner.name %>
	 <% end %>
         <% end %>
	 </span>
	 </div>
     <% else %>
         <% next %>
     <% end %>
   <% end %>
<% end %>
<br>

<center><h1>Public Images<h1></center>
<% @images.each do |image| %>
  <% if image.private? %>
     <% next %>
  <% else %>
     <div class="image">
     <%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
     <span class="caption">
     <center><%= image.filename %><br>
     <% @users.each do |owner| %>
         <% if owner.id == image.user_id %> 
	   Owner is: <%= owner.name %>
	 <% end %>
     <% end %>
     </center>
     <span>
     </div>
  <% end %>
<% end %>
