<p id="notice"><%= notice %></p>
<%= link_to 'New Image', new_image_path %> |
<%= link_to 'Edit Profile', edit_user_registration_path %>

<h1>Public Images</h1>

    <% @images.each do |image| %>
        <% if image.private == "f" %>
        <%= image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename %>
        <span class="caption">
	Owner:<%= image.user_id %>
        </span>
	<% else %>
        <% next %>
        <% end %>
        <%= link_to 'Show', image %>
        <%= link_to 'Edit', edit_image_path(image) %>
        <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

