<center><p id="notice"><%= notice %></p>
<!-- Check to see if user is logged in, if so let them upload and edit profile -->
<% if user_signed_in? == true %>
   <%= link_to 'New Image', new_image_path %> |
   <%= link_to 'Edit Profile', edit_user_registration_path %>
<% else %> <!-- If user not log in give them option to log in or sign up -->
   <%= link_to 'Log In', new_user_session_path %> |
   <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
</center>
<br>

<center><%= image_tag root_url + "/images/" + @image.filename, size: "500x500", alt: @image.filename %></center>
<center><span class="caption">
<% @users.each do |owner| %>
  <% if((owner.id == @image.user_id) and (@image.user.name != current_user.name)) %>
    <font color="blue"> Owner is:</font> <%= owner.name %>
  <% end %>
<% end %><br>
<% if !@image.tags.empty? %>
<font color="blue"><b>TAGS:</b></font>
<% @image.tags.each do |tag| %>
  <% if @image.tags.last == tag %>
     <%= tag.str.strip + "." %>
  <% else %>
     <%= tag.str.strip + ", " %>
  <% end %> 
<% end %>
<% end %>
<br>
<br>
<br>
<% if @image.user.name == current_user.name %>
   <%= link_to 'Edit', edit_image_path(@image) %> |
<% end %>
<%= link_to 'Back To Main', root_path %>
</span></center>
