<div id="user_nav">
<% if user_signed_in? %>
  <div class="signed_in">
  <strong>Signed in as: </font><font color="blue"><%= current_user.email %></font>. Not you?
  </strong>
  <%= link_to "Sign out", destroy_user_session_path, style: 'color:#8B0000;', method: :delete%>
  </div>
<% end %>
</div>

<center>
<br>
<br> 
<div class="header_orange">
  <h1>Droughts Are Us</h1>
  (We Don't Know Squat About Droughts!!!)
 </div>
</center>
<center>
<div id="main_container">
 <div class="mission_box">
 <h1><b>Our Mission</b></h1>
 <br><br>
  <p><strong> We'd like to present drought information in an easy to understand way. In
  doing so, we hope to educate our users on drought related weather patterns
  that have occurred over the past years and raise awareness about drought 
  severity in the United States. Users in search of real estate may use our 
  service to find a location that is typical to not suffer during dry times.
  </strong></p>
 </div>
 <div class="sign_in_box">
   <div class="notice">
     <p id="notice"><%= notice %></p>
   </div>
  <% if user_signed_in? == false %>
    <%= render 'devise/sessions/form' %>
  <% else %>
  <center>
     <b>Welcome<font color="blue"><%= " " + @user.name %></font>!
     <%= link_to "Sign out", destroy_user_session_path, style: 'color:#8B0000;', method: :delete%>    
       <div class="box">
         <center>
         <%= image_tag @weather_lookup.icon %><br>
         <font color="white">
         It is currently <font color="yellow"><%= @weather_lookup.temperature %>&#x2109</font>
         <br>
         in Chico, CA!</font></center><br>
         Condition is: <%= @weather_lookup.condition %><br>
         Feels like: <font color="yellow"><%= @weather_lookup.feelslike %>&#x2109</font>
       </div>
       <%= link_to "Edit Profile", edit_user_registration_path %>
  </center>
  <% end %>
  </div>
  <div style="clear: both;"></div>
</div>
</center>
<%= link_to 'New State', new_state_path %>
